Autoservis/Autoservis.MVC/Connected Services/Service/MyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Csla.Validation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Csla.Validation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Csla.Core" />
  <xs:complexType name="ValidationRules">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Csla.Core" base="q1:MobileObject">
        <xs:sequence>
          <xs:element name="SyncRoot" nillable="true" type="xs:anyType" />
          <xs:element name="_brokenRules" nillable="true" type="tns:ArrayOfBrokenRule" />
          <xs:element name="_processThroughPriority" type="xs:int" />
          <xs:element name="_suppressRuleChecking" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationRules" nillable="true" type="tns:ValidationRules" />
  <xs:complexType name="ArrayOfBrokenRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokenRule" nillable="true" type="tns:BrokenRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokenRule" nillable="true" type="tns:ArrayOfBrokenRule" />
  <xs:complexType name="BrokenRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Csla.Core" base="q2:MobileObject">
        <xs:sequence>
          <xs:element name="_description" nillable="true" type="xs:string" />
          <xs:element name="_property" nillable="true" type="xs:string" />
          <xs:element name="_ruleName" nillable="true" type="xs:string" />
          <xs:element name="_severity" type="tns:RuleSeverity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokenRule" nillable="true" type="tns:BrokenRule" />
  <xs:simpleType name="RuleSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Information" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RuleSeverity" nillable="true" type="tns:RuleSeverity" />
</xs:schema>