Autoservis/Autoservis.MVC/Connected Services/Service/MyService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Csla.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Csla.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Csla.Core.FieldManager" />
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Csla.Validation" />
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="BusinessBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UndoableBase">
        <xs:sequence>
          <xs:element name="_disableIEditableObject" type="xs:boolean" />
          <xs:element name="_editLevelAdded" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Csla.Core.FieldManager" name="_fieldManager" nillable="true" type="q1:FieldDataManager" />
          <xs:element name="_isChild" type="xs:boolean" />
          <xs:element name="_isDeleted" type="xs:boolean" />
          <xs:element name="_isDirty" type="xs:boolean" />
          <xs:element name="_isNew" type="xs:boolean" />
          <xs:element name="_neverCommitted" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Csla.Validation" name="_validationRules" nillable="true" type="q2:ValidationRules" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessBase" nillable="true" type="tns:BusinessBase" />
  <xs:complexType name="UndoableBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BindableBase">
        <xs:sequence>
          <xs:element name="_bindingEdit" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" name="_stateStack" nillable="true" type="q3:StackOfbase64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UndoableBase" nillable="true" type="tns:UndoableBase" />
  <xs:complexType name="BindableBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MobileObject">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="_serializableChangedHandlers" nillable="true" type="q4:PropertyChangedEventHandler" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="_serializableChangingHandlers" nillable="true" type="q5:PropertyChangingEventHandler" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableBase" nillable="true" type="tns:BindableBase" />
  <xs:complexType name="MobileObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MobileObject" nillable="true" type="tns:MobileObject" />
</xs:schema>