Autoservis/Autoservis.MVC/Connected Services/Service/MyService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Csla.Core.FieldManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Csla.Core.FieldManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="FieldDataManager">
    <xs:sequence>
      <xs:element name="_businessObjectType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_fieldData" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" name="_stateStack" nillable="true" type="q2:StackOfbase64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldDataManager" nillable="true" type="tns:FieldDataManager" />
</xs:schema>