Autoservis/Autoservis.MVC/Connected Services/Service/MyService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59322/MyService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MulticastDelegate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Delegate" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MulticastDelegate" nillable="true" type="tns:MulticastDelegate" />
  <xs:complexType name="Delegate">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="Delegate" nillable="true" type="tns:Delegate" />
  <xs:complexType name="EventHandlerOfSavedEventArgsq23VBe3u">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EventHandlerOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SavedEventArgs" Namespace="http://schemas.datacontract.org/2004/07/Csla.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MulticastDelegate" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventHandlerOfSavedEventArgsq23VBe3u" nillable="true" type="tns:EventHandlerOfSavedEventArgsq23VBe3u" />
</xs:schema>